body {
  margin: 0;
}
h1 {
  font-weight: 700;
  text-align: center;
}
h2 {
  font-weight: 700;
  text-align: center;
}

h3 {
  font-weight: 400;
  text-align: center;
}
.container div {
  padding: 1%;
  box-sizing: border-box;
  min-height: 500px;
  outline: black;
}
.left-col{
  background-color: transparent;
  width: 40%;
  height: 500px;
  float: left;
}
.right-col{
  background-color: transparent;
  width: 35%;
  height: 500px;
  float: left;
}
.center-col {
/*          background-color: pink; */
  width: 25%;
    height: 500px;
  float: left;
}